<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Author</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="layout/header::header"></div>
<div class="container">
    <br/>
    <div class="card">
        <div class="card-header" th:text="${add} ? 'Create an Author' : 'Edit Author'"/>
        <div class="card-body">
            <div class="col-md-12">
                <form th:action="${add} ? @{/api/author/add-author} : @{/api/author/update-author/{id}(id=${author.author_id})}"
                      th:object="${author}" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-2" for="author_name">Author Name</label>
            <div class="col-sm-10"><input type="text" id="author_name" th:field="*{author_name}" /></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description</label>
            <div class="col-sm-10"><input type="text" id="description" th:field="*{description}" /></div>
        </div>

                    <input type="submit" th:value="${add} ? 'Create' : 'Update'"
                           class="btn btn-outline-secondary"></input>
                </form>
            </div>
        </div>
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"/>
    </div>
    <a th:href="@{/api/author/list}">Back to Author List</a>
</div>
</body>
</html>