<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Book List</title>
    <div th:replace="layout/header"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container">
    <div th:switch="${books}" class="container">
        <h2 th:case="null">No record found !!</h2>
        <table class="table table-striped table-responsive-md">
            <tr>
                <th>Book Name</th>
                <th>Book Sub Name</th>
                <th>Book Serial Name</th>
                <th>ISBN</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.book_name}"> </td>
                    <td th:text="${book.book_sub_name}"> </td>
                    <td th:text="${book.book_serial_name}"> </td>
                    <td th:text="${book.isbn}"> </td>
                    <td th:text="${book.description}"> </td>
                    <td><a th:href="@{/api/book/update-book/{id}(id=${book.book_id})}" class="btn btn-primary"></a></td>
                    <td><a th:href="@{/api/book/delete/{id}(id=${book.book_id})}" class="btn btn-primary"></a></td>
                </tr>
            </tbody>
        </table>
        <div></h3> <a href="/api/book/add-book">
            <button type="button" class="btn btn-outline-secondary">Add Book</button></a>
        </div>
    </div>
</div>
</body>
</html>