<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="layout/header::header"></div>
<div class="container">
    <h1>Sign-up</h1>
    <div class="col-md-4">
        <form th:object="${user}" th:action="@{/signUp}"  method="post">
            <div>
                <label> Username :<input type="text" th:field="*{username}" class="form-control"/></label>
            </div>
            <div>
                <label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
            </div>
            <input type="submit" class="btn btn-success" value="SignUp"></input>
        </form>
    </div>
</div>
</body>
</html>