<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Publisher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="layout/header::header"></div>
<div class="container">
    <h1>Update publisher</h1>
    <form th:object="${publisher}" th:action="@{/api/publisher/updatePublisher/{id}(id=${publisher.publisher_id})}" action="#" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="publisher_name">Publisher Name</label>
            <div class="col-sm-10"><input type="text" id="publisher_name" th:field="*{publisher_name}" /></div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description</label>
            <div class="col-sm-10"><input type="text" id="description" th:field="*{description}" /></div>
        </div>
        <input type="submit" value="Update" class="btn btn-info"></input>
    </form>
</div>
</body>
</html>